@import 'base/_normalize.sass'
@import 'helpers/_vars.sass'

*
  box-sizing: border-box

html, body
  height: 100%

.page-wrap
  min-height: 100%
  /* equal to footer height */
  margin-bottom: -142px

.page-wrap:after
  content: ""
  display: block

.site-footer, .page-wrap:after
  height: 142px

.site-footer
  background: orange

a
  color: $p-color
  &:hover
    color: $s-color

ul, ol
  padding: 0
  margin: 0

  list-style-type: none
