.navbar-default

  background-color: transparent

.navbar-header
  display: inline-block
  width: 100%

  background-color: transparent

  text-align: center

  .navbar-brand
    display: inline-block
    margin: 0 auto
    float: none
